

.authSplit {
  display: flex;
  min-height: 100vh;
}

 

.authLeft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 40px;
}


.authCard {
  width: 100%;
  max-width: 420px;
   border: 1px solid  rgba(156, 151, 151, 0.521);
  padding: 20px;
}


.authRight {
  flex: 1;
  background-size: cover;
  background-position: center;
  position: relative;
}

 
.imageOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  padding: 40px;
  
}


.imageText {
  color: white;
  max-width: 350px;
}

.imageText h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.imageText p {
  font-size: 14px;
  color: rgba(255,255,255,0.85);
}
 
.authRight::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0)
  );
}

 

.authCard h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 30px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.inputGroup label {
  font-size: 13px;
  margin-bottom: 6px;
  color: #444;
}

.inputGroup input {
  padding: 12px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.inputGroup input:focus {
  outline: none;
  border-color: rgba(80, 18, 161, 0.678);
}

 
.primaryBtn {
  width: 100%;
  padding: 14px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.primaryBtn:hover {
  background: #33333342;
  color: black;
}

 

@media (max-width: 768px) {
  .authSplit {
    flex-direction: column;
  }

  .authRight {
    height: 250px;
  }

  .authLeft {
    padding: 20px;
  }
}

.backHome {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  position: relative;
  transition: 0.3s;
}

.backHome::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 1px;
  background: rgba(63, 15, 236, 0.6);
  transition: width 0.3s ease;
}

.backHome:hover::after {
  width: 100%;
}

.backHome:hover {
  color: black;
}
