 
.managePage {
  min-height: 100vh;
  

  display: flex;
  flex-direction: column; /* 👈 IMPORTANT */
  align-items: center;
  justify-content: center;
}

 
.manageContent {
  text-align: center;
  margin-bottom: 30px;
}

 
.manageContent h1 {
  font-size: 45px;
  font-weight: 550;
  margin-bottom: 10px;
}

 
.manageContent p {
  font-size: 16px;
  color: #777;
}

 
.actions {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  gap: 20px;
  max-width: 500px;
  font-weight: 530;
}

 
.actions a {
  width: 220px;
  padding: 14px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-size: 14px;
  cursor: pointer;

  border: 1px solid #8a8a8aa9;
  
 

  transition: 0.3s ease;
}

 
.primaryBtn2 {
  color: black;
  background: white;
  border: none;
}

.primaryBtn1 {
  background: rgb(0, 0, 0);
  color: white;
  border: none;
}



.primaryBtn1:hover {
  color: black;
  background: rgba(184, 184, 184, 0.329);
  font-size: 16px;
}

.primaryBtn2:hover {
  background:   rgba(184, 184, 184, 0.329);
  color: black;
   font-size: 16px;
}

 
@media (max-width: 768px) {
  .manageContent h1 {
    font-size: 30px;


  }

  .actions {
    flex-direction: row;
    align-items: center;
  }

  .actions a {
    width: 100%;
    max-width: 300px;
    padding: 15px;
  }
}