.createPage {
  padding: 80px 20px;
  background: #f8f8f8;
  min-height: 100vh;
  font-family: "Helvetica Neue", sans-serif;
}

.createPage h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
}

.createPage p {
  text-align: center;
  color: #777;
  margin-bottom: 40px;
}

/* FORM CONTAINER */
.form {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 40px;
  border-radius: 12px;
}

/* INPUTS */
.form input,
.form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

.form textarea {
  height: 120px;
  resize: none;
}

/* IMAGE UPLOAD BOX */
 .imageUpload {
  border: 2px dashed #ddd;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* 👈 IMPORTANT */
}

.imageUpload:hover {
  border-color: black;
  color: black;
}

 
.dateRow {
  display: flex;
  gap: 15px;
}

.dateRow input {
  flex: 1;
}

 
.buttonRow {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.primaryBtn3 {
  background: black;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  flex: 1;
  font-weight: bold;
  transition: 0.3s;
}

.primaryBtn3:hover {
  background: #222;
}

.secondaryBtn4 {
  background: white;
  border: 1px solid #ddd;
  padding: 12px;
  cursor: pointer;
  flex: 1;
}
.previewImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}