

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}
 

.backHome {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  position: relative;
  transition: 0.3s;
}

.backHome::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 1px;
  background: rgba(63, 15, 236, 0.6);
  transition: width 0.3s ease;
}

.backHome:hover::after {
  width: 100%;
}

.backHome:hover {
  color: black;
}

 

.loginPage {
  display: flex;
  min-height: 90vh;
  width: 100%;
}

 

.loginImage {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.loginImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 

.imageText {
  position: absolute;
  bottom: 60px;
  left: 40px;
  max-width: 400px;
  color: white;
}

.imageText h1 {
  font-size: 30px;
  font-weight: 500;
   
  color: rgba(63, 15, 236, 0.8);
}

.imageText p {
  font-size: 14px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.85);
}

 

.loginImage::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}

 

.loginContent {
  flex: 1;
  display: flex;
   justify-content: center;
   align-items: start;
  padding: 40px;
  background: rgb(255, 255, 255);
  margin-top: 10px;
}

.loginBox {
  width: 100%;
  max-width: 500px;
   
  padding: 50px 20px;
  
}

 

.loginBox h1 {
  font-size: 28px;
  font-weight: 500;
  width: 500px;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 40px;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputGroup label {
  font-size: 13px;
  margin-bottom: 6px;
  color: #444;
}

.inputGroup input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.2s;
}

.inputGroup input:focus {
  outline: none;
  border-color: rgba(80, 18, 161, 0.678);
}

 

.primaryBtn {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: black;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

 

.secondaryBtn {
  display: block;
  width: 100%;
  padding: 14px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #ddd;
  background: transparent;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

  .primaryBtn:hover { background: #33333342; 
  font-weight: 600; 
  color: black; 
}

.primaryBtn:disabled {
  background: #33333342;
  color: black;
  cursor: not-allowed;
  opacity: 0.6;
}
 
 

.secondaryBtn:hover { 
  background: rgba(0, 0, 0, 0.068);
   color: #353535; 
   font-weight: 600; 
  }



.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-size: 12px;
  color: #aaa;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.divider span {
  margin: 0 10px;
}

 

.links {
  margin-top: 30px;
  font-size: 13px;
  color: #666;
}

.links a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.links a:hover {
  color: #555;
  font-weight: 700;
}



.accountLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.accountLink p {
  font-size: 14px;
  margin-bottom: 10px;
}

 

@media (max-width: 768px) {
  .loginPage {
    flex-direction: column;
  }

  .loginImage {
    height: 250px;
  }

  .imageText {
    bottom: 20px;
    left: 20px;
    max-width: 90%;
  }

  .imageText h1 {
    font-size: 22px;
  }

  .imageText p {
    font-size: 12px;
  }

  .loginContent {
    padding: 20px;
  }

  .loginBox {
    max-width: 100%;
  }

  .primaryBtn,
  .secondaryBtn {
    padding: 12px;
    font-size: 14px;
  }
}